.contact-us {
  padding: 0 20px; // відступи секції
  margin-bottom: 0;
  margin-top: 80px;

  .contact-us-title {
    text-align: center;
    margin: 0 0 32px 0;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1.5px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 20px;

    margin: 0 auto; // центрування форми
    align-items: start;

    &__group {
      grid-column: 1 / -1;
      width: 100%;
      margin-bottom: 20px;
    }

    &__input,
    &__textarea {
      background-color: #F8F8FA;
      grid-column: 1 / -1;
      width: 100%;
      line-height: 20px;
      padding: 10px 20px;
      border: none;
      font-size: 14px;
      box-sizing: border-box;
      color: #7E7E83;
      border-radius: 40px;
      font-style: Regular;

      &:focus {
        outline: none;
      }
    }

    &__textarea {
      height: 148px;
      padding-top: 15px;
    }

    &__input{
      height: 48px;
    }

    &__button {
      background-color: #F8F8FA;
      grid-column: 1 / -1;
      width: 100%;
      padding: 12px 20px;
      font-size: 18px;
      font-weight: bold;
      border: none;
      cursor: pointer;
      margin-top: 30px;
      transition: background-color 0.3s, color 0.3s;
      border-radius: 40px;
      color: #1D1D1D;
        margin-bottom: 0;
    }
  }
}
