.content {
  font-family: $font-primary;
  color: $color-white;


/* #region text */
  &__section--text {
      display: grid;
      grid-template-columns: repeat(2, minmax(130px, 1fr));
      gap: 20px;
      justify-items: start;
      align-items: start;
      font-weight: 500;
      padding: 0px 20px 0px 20px;
      margin-top: 60px;


    h2.content__text {
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -1.5px;
      grid-column: 1 / -1;
      margin-bottom: 12px;

    }

    p.content__description {
      margin: 0;
      font-size: 23px;
      line-height: 140%;
      grid-column: 1 / -1;
    }
  }
/* #endregion */




/* #region Compare-bikes */
&__section--Compare-bikes {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  gap: 20px;
  justify-items: center; // вирівнювання всіх елементів по горизонталі
  align-items: start;
  padding: 0 20px;
  margin-top: 92px;

  h2.content__section-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    grid-column: 1 / -1; // заголовок на всю ширину
    margin: 0 0 20px 0;
  }

  .content__bike {
    grid-column: 1 / -1; // картка займає весь ряд гріду
    display: flex;
    flex-direction: column;

    margin-bottom: 16px;
  }

  .content__bike-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .content__bike-name {
    margin: 8px 0 0 0;
    font-style: bold;
    font-size: 24px;
    line-height: 140%;
  }

  p.content__bike--name-description {
    margin: 8px 0 0 0;
  }

  p.content__bike--name-price {
    margin: 8px 0 0 0;
    font-weight: bold;
  }
}
/* #endregion */

/* #region details */
  &__section--details {
    margin-top: 92px;
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 0 20px;
    justify-items: center;
    align-items: start;
    padding: 0 20px;

    .content__useful-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -1.5px;
      grid-column: 1 / -1;
      margin: 0 0 48px 0;
    }

    .content__useful-img-big,
    .content__useful-img-small {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      margin: 0;
    }

    .content__useful-img-big {
      grid-column: 1 / 2;
    }

    .content__useful-img-small {
      grid-column: 2 / -1;
    }

    .content__useful-text{
      grid-column: 1 / -1;
    }

    .content__useful-name{
      margin-top: 16px;
      margin-bottom: 0;
    }

    .content__bike--useful-description{
      margin-bottom: 40px;
      margin-top: 8px;
    }

    .content__useful-explore {
      background-color: $color-white;
      grid-column: 1 / -1;
      width: 100%;
      height: 56px;
      text-align: center;
      line-height: 56px;
      color: black;
      border-radius: 40px;
    }
  }
}
