.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: $color-menu-bg;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 1000;

  &:target {
    opacity: 1;
    pointer-events: all;
  }
}

.menu {
  background-color: $color-menu-bg;
  font-weight: 700;
  text-transform: uppercase;
  overflow-y: auto;

  &__top { margin-bottom: 32px; }
  &__content { padding-inline: 20px; }
  &__nav { margin-bottom: 40px; }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  &__phone-number {
    display: block;
    margin-bottom: 16px;
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
  }

  &__call-to-order {
    display: block;
    width: fit-content;
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid currentColor;
  }
}
